<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/subbudatta/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="subbudatta" />
            <add key="ClearTextPassword" value="6f37de96235e932621dc75312e7c1283a649b389" />
        </github>
    </packageSourceCredentials>
</configuration>